@import url('./styles/reset.css');
@import url('./styles/helpers.css');
@import url('./styles/typography.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: indigo;
  border-radius: 0;
}
